# Скомпилированные Python файлы

*.pyc
*.pyo

# Папка с кэшем Python

**pycache**/

# Виртуальное окружение Python

venv/
.venv/

# Файлы с переменными окружения (могут содержать секреты)

.env

# Настройки IDE PyCharm

.idea/

# Настройки VS Code

.vscode/

# Системные файлы macOS

.DS_Store

# Файлы логов

*.log

# Папка с собранными пакетами

dist/

# Папка со сборкой проекта

build/

# Метаданные Python-пакетов

*.egg-info/
